body{
    background-color: beige;
    text-align: center;
     font-size:large
     
}
h1{
    color: #07750b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
#TellUsaboutYourself{
    background-color: beige;
}

#EnterYourName{
    background-color: beige;
}

#YourDepartment{
    background-color: beige;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
 
